/**
 * @fileOverview
 *
 */

.align-center {
  text-align: center;
}

.plugin_picture.align-center {
  text-align : center;
  display    : block;
}

#cms_toolbar .cms_structure .cms_dragarea {
  width: 50vw !important;
  &:last-child {
    width: 100vw !important;
  }
}

div#cms_toolbar .cms_toolbar.cms_toolbar {
  background-color: transparent !important;
  background: transparent !important;
}

@mixin cms_toolbar($parent: '#cms_toolbar.cms_reset') {
  &,
  #{$parent} {
    &.cms_reset { }
    .cms_toolbar.cms_toolbar {
    }
  }
}

.cms_structure-content {
  position: absolute;
  top: 0;
  display: flex;
  left: 0;
  width: 0;
  min-height: 0;
  right: 0;
  margin-top: 10%;
}

/*
 *
 *#cms_toolbar > div.cms_structure > div.cms_structure-content > div.cms_dragarea:nth-of-type(1) {
 *  left: 50% !important;
 *  top: 50vh !important;
 *}
 *
 *#cms_toolbar > div.cms_structure > div.cms_structure-content > div.cms_dragarea:nth-of-type(2) {
 *  left: 0 !important;
 *  top: 50vh !important;
 *}
 *
 *.cms_dragarea:last-child {
 *  top: auto !important;
 *  width: 100% !important;
 *  bottom: -100vh !important;
 *}
 *
 */

/*
 *
 * GLOBALSEOHEADER__DEFAULT
 *#cms_toolbar > div.cms_structure > div.cms_structure-content > div.cms_dragarea:nth-of-type(1) {
 *  left: 0px !important;
 *  top: 17vh !important;
 *}
 *
 * RIGHTPANELCONTENTAREA__DEFAULT
 *#cms_toolbar > div.cms_structure > div.cms_structure-content > div.cms_dragarea:nth-of-type(2) {
 *  left: 0 !important;
 *  top: 20vh !important;
 *}
 *
 * GLOBALSEOHEADER__DEFAULT
 *#cms_toolbar > div.cms_structure > div.cms_structure-content > div.cms_dragarea:nth-of-type(3) {
 *
 *}
 *
 * GLOBALFOOTER__DEFAULT
 *#cms_toolbar > div.cms_structure > div.cms_structure-content > div.cms_dragarea:nth-of-type(4) {
 *
 *}
 *
 */


#cms_toolbar {
  z-index: 999999999;
}
