alabaster==0.7.6
astroid==1.3.8
Babel==2.0
coverage==4.0a5
Django==1.8.4
django-appconf==1.0.1
django-axes==1.3.9
django-braces==1.8.0
django-classy-tags==0.6.2
django-cms==3.1.1
django-compressor==1.5
django-crispy-forms==1.4.0
django-debug-toolbar==1.3.2
django-extensions==1.5.2
django-flat-theme==0.9.3
django-grappelli==2.7.1
django-jenkins==0.17.0
django-mptt==0.6.0
django-nested-admin==2.1.2
django-sekizai==0.8.2
Django-Select2==4.3.1
django-treebeard==3.0
djangocms-admin-style==0.2.7
djangocms-file==0.1
djangocms-flash==0.2.0
djangocms-googlemap==0.3
djangocms-inherit==0.1
djangocms-link==1.6.2
djangocms-picture==0.1
djangocms-snippet==1.5
djangocms-teaser==0.1
djangocms-video==0.1
djangular==0.2.7
docutils==0.12
gnureadline==6.3.3
html5lib==0.99999999
ipython==3.1.0
Jinja2==2.8
logilab-common==1.0.2
MarkupSafe==0.23
pep8==1.6.2
Pillow==2.8.1
psycopg2==2.6
py-bcrypt==0.4
Pygments==2.0.2
pylint==1.4.3
pytz==2015.4
raven==5.1.1
six==1.9.0
snowballstemmer==1.2.0
Sphinx==1.3.1
sphinx-rtd-theme==0.1.8
sqlparse==0.1.16
