<nav>
  <div class="nav-wrapper">

    <a
      href="#"
      data-activates="mobile"
      class="show-on-large button-collapse"
    ><i class="material-icons">menu</i></a>

    <ul class="hide-on-large-only hide-on-med-and-down">
      <li><a href="{{baseUrl}}">Home</a></li>
      <li><a href="{{baseUrl}}verifyOne">Verify One</a></li>
      <li><a href="{{baseUrl}}verifyTwo">Verify Two</a></li>
      <li><a href="{{baseUrl}}verifyThree">Verify Three</a></li>
      <li><a href="{{baseUrl}}verifyFour">Verify Four</a></li>
      <li><a href="{{baseUrl}}placeOrder">Place Order</a></li>
      <li><a href="{{baseUrl}}terms">Terms</a></li>
      <li><a href="{{baseUrl}}openOrders">Open Orders</a></li>
      <li><a href="{{baseUrl}}history">History</a></li>
      <li><a href="{{baseUrl}}mapView">Map View</a></li>
      <li><a href="{{baseUrl}}refNumber">Reference Number</a></li>
      <li><a href="{{baseUrl}}genericError">Generic Error</a></li>
      <li><a href="{{baseUrl}}takeSelfie">Take Selfie</a></li>
      <li><a href="{{baseUrl}}noLocationAvailable">No Location Available</a></li>
      <li><a href="{{baseUrl}}takeSelfieConfirm">Take Selfie Confirm</a></li>
      <li><a href="{{baseUrl}}afterDarkHowToPay">After Dark How To Pay</a></li>
    </ul>
    <ul id="mobile" class="side-nav">
      <li><a href="{{baseUrl}}">Home</a></li>
      <li><a href="{{baseUrl}}verifyOne">Verify One</a></li>
      <li><a href="{{baseUrl}}verifyTwo">Verify Two</a></li>
      <li><a href="{{baseUrl}}verifyThree">Verify Three</a></li>
      <li><a href="{{baseUrl}}verifyFour">Verify Four</a></li>
      <li><a href="{{baseUrl}}placeOrder">Place Order</a></li>
      <li><a href="{{baseUrl}}terms">Terms</a></li>
      <li><a href="{{baseUrl}}openOrders">Open Orders</a></li>
      <li><a href="{{baseUrl}}history">History</a></li>
      <li><a href="{{baseUrl}}mapView">Map View</a></li>
      <li><a href="{{baseUrl}}refNumber">Reference Number</a></li>
      <li><a href="{{baseUrl}}genericError">Generic Error</a></li>
      <li><a href="{{baseUrl}}takeSelfie">Take Selfie</a></li>
      <li><a href="{{baseUrl}}noLocationAvailable">No Location Available</a></li>
      <li><a href="{{baseUrl}}takeSelfieConfirm">Take Selfie Confirm</a></li>
      <li><a href="{{baseUrl}}afterDarkHowToPay">After Dark How To Pay</a></li>
    </ul>
  </div>
</nav>
