<div
  style="float: left; width: 50%;"
  ng-class="{
    'font-effect-3d-float': isAfterdark
  }"
>
  <h2>
    Deposit info
  </h2>
  <dl class="">
    <dt>Deposit to:</dt>
    <dd>UTXO, LLC.</dd>
    <dt>Bank:</dt>
    <dd>SpaceCity Credit Union</dd>
    <dt>Routing:</dt>
    <dd>28-2938</dd>
    <dt>Account:</dt>
    <dd>29849839</dd>
  </dl>
</div>
<div 
  style="float: left; width: 50%;"
  ng-class="{
    'font-effect-3d-float': isAfterdark
  }"
>
  <h2>
    Contact
  </h2>
  <p>
    If you've already deposited the funds and are waiting for the transfer of 
    mined bitcoin and would like to talk to us, please contact us at:
  </p>
  <p class="footer--mini">
  <div class="contact--email"><a href="mailto:admin@utxo.us">admin@utxo.us</a></div>
  <div class="contact--phone-1"><a href="tel:1+956-648-2089">9802-846-659</a></div>
  <!--<div class="contact--phone-2"><a href="tel:+1 (259) 283 3874">+1 (239) 298 3984</a></div>-->
  </p>
</div>
