#cms_toolbar > div.cms_toolbar > div.cms_toolbar-right > div.cms_toolbar-item.cms_toolbar-item-buttons.cms_toolbar-item_switch_save-edit > a {
  &.cms_btn { color: #fff !important; }
  &.cms_btn-active { }
  &.cms_btn-switch-edit { }
}

[cms-view] { }

[ng-view] { background-color: #006699; }

@mixin _layout($mode: 'split') {

  @if $mode == 'split' {
    body.body-class .row {
      min-height     : 100%;
      display        : flex;
      @content;
    }

    body.body-class .row [cms-view].col {
      position: relative;
      left: auto;
    }

    body.body-class .row [cms-view].col,
    body.body-class .row [ng-view].col {
      padding-left    : 0;
      padding-right   : 0;

      flex            : 1;
      min-height      : 100%;

      display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
      display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
      display: -ms-flexbox;      /* TWEENER - IE 10 */
      display: -webkit-flex;     /* NEW - Chrome */
      display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
      justify-content : center;
      flex-direction  : column;
    }

  } @else {

    body.body-class .row {
      min-height     : 100%;
      display        : flex;
      flex-direction : row;
      flex           : 1;
    }

    body.body-class .row [cms-view].col {
      position: absolute;
      left: -9999px;
      width: 100%;
    }

    body.body-class .row [cms-view].col,
    body.body-class .row [ng-view].col {
      padding-left    : 0;
      padding-right   : 0;

      flex            : 1;
      min-height      : 100%;

      display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
      display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
      display: -ms-flexbox;      /* TWEENER - IE 10 */
      display: -webkit-flex;     /* NEW - Chrome */
      display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
      justify-content : center;
      /*flex-direction  : row;*/
      flex-direction  : row;
      @content;
    }

  }
}

@media #{$small} {
  @include _layout($mode: 'single') {
    display: block;
  }
}

@media #{$slinder} {
  @include _layout($mode: 'single') {
    display: block;
  }
}

@media #{$medium} {
  @include _layout($mode: 'split') {

  }
}

@media #{$large} {
  @include _layout($mode: 'split') {

  }
}

.entry--LeftPanelContentArea .content--unavailable h1 {
  color: #111;
}
.content--unavailable {
  padding: 10vh;
}

body.body-class.page--Admin .container {
  width: 100% !important;
  min-width: 100% !important;
  padding-left: 0;
  padding-right: 0;
}

body.body-class.page--Admin .container > .row {
  width: 100% !important;
  min-width: 100% !important;
  margin: 0 !important;
}

body.body-class.page--Admin .row [cms-view].col {
  position: absolute;
  left: -9999px;
}


