<!--
# fileOverview

@file Selfie  
-->

<style>
.base-template {
  height: 100%;
}
.base-template .row {
  height: 100%;
}
.base-template .row [ng-view] {
  height: 100%;
}
</style>

<div class="app--entry page--take-selfie">

  <form
    name="take_selfie_form"
    class="rank"
    ng-submit="updatePerson(person)"
  >

    <div class="field-block">

      <p>1 shot for your face, driver’s licence, receipt noting 

        <span
          ng-show="!toggleRef"
          ng-click="toggleRef=true"
        >
          reference #

          <span class="sep--block">
            <span class="fa fa-toggle-off"></span>
          </span>
        </span>

        <span
          ng-show="toggleRef"
          ng-click="toggleRef=false"
        >
          <span ng-show="person.order.last5">{{person.order.last5}} <span class="sep">|</span> {{person.order.string_construct}}</span>

          <span class="sep--block">
            <span class="fa fa-toggle-on"></span>
          </span>
        </span>

      </p>

    </div>

    <div class="field-block submit-block">
      <div class="input-field">
        <button class="btn waves-effect waves-light" type="submit" name="action">
          <span class="fa fa-camera"></span>
          <span class="material-labels">Take Selfie</span>
        </button>
      </div>
    </div>

  </form>

  <div admin-footer-menu></div>

</div>

