<!--
# fileOverview


@file CustSite_Web_Verification_Step3a-4.0.psd  
-->

<div class="app--entry page--verify-three">
<!--
   -
   -  <header>
   -    <h1
   -      class="file-l4-m4-s4__centered"
   -    >
   -      <a href="{{baseUrl}}verifyThree">Identity Verification</a>
   -    </h1>
   -    <div class="file-l5-m5-s5__centered">
   -      <p style="text-align: center;">
   -        In this step, we check your information against national databases 
   -        such as <a href="http://www.treasury.gov/about/organizational-structure/offices/Pages/Office-of-Foreign-Assets-Control.aspx"><abbr title="Office of Foreign Assets Control">OFAC</abbr></a>, prohibited lists and the like.
   -      </p>
   -    </div>
   -  </header>
   -
   -->
  <div class="loader--placeholder">
    <div class="loader"><div class="loader-inner ball-grid-pulse"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div></div>
  </div>

  <form
    action=""
    class="form--pending"
  >
    <div class="field-block submit-block">
      <div class="input-field">
        <button 
          disabled="disabled"
          class="btn waves-effect waves-light btn--pending"
          type="submit"
          name="action"
        >
          <span class="material-labels">Done &amp; dusted.</span>
        </button>
        <span class="verification__progress">(step 3 of 3)</span>
      </div>
    </div>
  </form>

  <div admin-footer-menu></div>

</div>



